@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');


.fontPlaywriteThin {
  font-family: 'Playwrite DE SAS', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 100;
}

.fontPlaywriteExtraLight {
  font-family: 'Playwrite DE SAS', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 200;
}

.fontPlaywriteLight {
  font-family: 'Playwrite DE SAS', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 300;
}

.fontPlaywriteRegular {
  font-family: 'Playwrite DE SAS', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
}

.fontSairaThin {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 100;
}

.fontSairaExtraLight {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 200;
}

.fontSairaLight {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 300;
}

.fontSairaRegular {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 400;
}

.fontSairaMedium {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 500;
}

.fontSairaSemiBold {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 600;
}

.fontSairaBold {
  font-family: 'Saira', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  font-weight: 700;
}